.body-inicio{
	background-color:   #bdbdbd;
}

.footer-admin{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #212121;
    text-align: center;
    color: #ffffff;
}
.buscador-publicaciones{
	margin-left: 500px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.body-publicaciones{
	background-color: #ffffff;
}
